@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

:root {
  --base: 1vw;
  --multiplier: 1;
  --dynamic-sizing: calc(var(--base) * var(--multiplier));
}

body, html {
  background-color: #E6E9DE;
  font-family: "ABeeZee", sans-serif;
  /* font-family: "Caveat", cursive; */
  /* font-family: "Love Ya Like A Sister", cursive; */
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /* scroll-snap-stop: always; */
  /* scroll-snap-type: both; */
  /* scroll-snap-align: center; */
}

a, i {
  user-select: none;
}

.lblTop {
  position:fixed;
  left: 0;
  right: 0;
  padding: calc(15 * var(--dynamic-sizing) / 10);
  font-size: calc(3.4 * var(--dynamic-sizing));
  color: #1B3363;
  background-color: #E6E9DE;
  text-align: center;
  z-index: 2;
  margin: 0;
  border-radius: 0px 0px 40% 40%;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  padding-top: calc(6 * var(--dynamic-sizing)); /* Adjust this value to match your .lblTop height */
  box-sizing: border-box;
}

.gallery {
  display: grid;
  width: 96vw;
  margin: 0 auto;
  justify-items: center;
  gap: calc(2 * var(--dynamic-sizing));
}

.generateBtn {
  position: fixed;
  bottom: calc(2 * var(--dynamic-sizing));
  right: calc(2 * var(--dynamic-sizing));
  border: none;
  height: calc(4.5 * var(--dynamic-sizing));
  width: calc(4.5 * var(--dynamic-sizing));
  background-color: #1D2E4C;
  color: #E6E9DE;
  border-radius: 120px;
  cursor: pointer;
  transition: 0.05s;
}

.generateBtn > h2 {
  font-size: calc(1.6 * var(--dynamic-sizing));
  text-align: center;
  width: 100%;
}

.generateBtn > h2 > i {
  font-size: calc(2 * var(--dynamic-sizing));
}

.generateBtn:hover {
  transform: scale(110%);
  background-color: #2f4975;
  transition: 0.05s;
}

.generateBtn:active {
  transform: scale(100%);
  background-color: #577dbe;
}

.profileBtn {
  position: fixed;
  height: calc(4.5 * var(--dynamic-sizing));
  width: calc(4.5 * var(--dynamic-sizing));
  background-color: #1D2E4C;
  color: #E6E9DE;
  border-radius: 120px;
  cursor: pointer;
  transition: 0.05s;
  z-index: 4;
}

.profileBtn > h2 {
  font-size: calc(1.6 * var(--dynamic-sizing));
  text-align: center;
  width: 100%;
}

.profileBtn > h2 > i {
  font-size: calc(2 * var(--dynamic-sizing));
}

.profileBtn:hover {
  background-color: #2f4975;
  transition: 0.05s;
}

.profileBtn:active {
  background-color: #577dbe;
}


.scrollBtn {
  position: fixed;
  bottom: calc(2 * var(--dynamic-sizing));
  right: calc(7.5 * var(--dynamic-sizing));
  border: none;
  height: calc(4.5 * var(--dynamic-sizing));
  width: calc(4.5 * var(--dynamic-sizing));
  background-color: #2f49753a;
  color: #E6E9DE;
  border-radius: 120px;
  cursor: pointer;
  transition: 0.2s;
}

.scrollBtn:hover {
  background-color: #2f497585;
}

.scrollBtn:active {
  background-color: #2f4975;
}

.scrollBtn > h2 {
  font-size: calc(1.7 * var(--dynamic-sizing));
  text-align: center;
  width: 100%;
}

.invisible {
  visibility: hidden;
}


@media screen and (min-width:0px) and (max-width: 600px){
  :root {
    --multiplier: 3.2; 
  }
  .gallery {
    grid-template-columns: 1fr;
  }
  .lblTop::after{
  content: 'Would you wear this?';
}
.profileBtn {
  bottom: calc(2 * var(--dynamic-sizing));
  left: calc(2 * var(--dynamic-sizing));
}
}

@media screen and (min-width:600px) and (max-width: 800px){
  :root {
    --multiplier: 2.2; 
  }
  .gallery {
    grid-template-columns: 1fr;
  }
  .lblTop::after{
  content: 'Would you wear this?';
}
.profileBtn {
  bottom: calc(2 * var(--dynamic-sizing));
  left: calc(2 * var(--dynamic-sizing));
}
}

@media screen and (min-width: 800px) {
  :root {
    --multiplier: 0.9; 
  }
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .lblTop{
    border-radius: 0px 0px 20% 20%;
  }

  .lblTop::after{
    content: 'What would you wear?';
  }

  .profileBtn {
    top: calc(1.4 * var(--dynamic-sizing));
    right: calc(2 * var(--dynamic-sizing));
  }

}