@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

body, html{
  background-color: #E6E9DE;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  scroll-behavior: smooth;
  /*scroll-snap-stop: always;*/
  /*scroll-snap-type:both;*/
  /*scroll-snap-align:center;*/
}


a, i{
  user-select: none;
}

.container{
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  /* align-items: center; */
  justify-content: center;
}

.lblTop{
  position: fixed;
  top: -2vw;
  padding: 10px;
  font-size: 3.4vw;
  color: #1B3363;
  /* background-color: #E6E9DE; */
  width: 100%;
  text-align: center;
  z-index: 2;
}

.generateBtn{
  position:fixed;
  bottom: 2vw;
  right: 2vw;
  border: none;
  height: 4.5vw;
  width: 4.5vw;
  background-color: #1D2E4C;
  color: #E6E9DE;
  border-radius: 120px;
  cursor: pointer;
  transition: 0.05s;
}

.generateBtn>h2{
  font-size: 1.6vw;
  text-align: center;
  width:100%;
}
.generateBtn>h2>i{
  font-size: 2vw;

}

.generateBtn:hover{
  transform: scale(110%);
  background-color: #2f4975;
  transition: 0.05s;
}

.generateBtn:active{
  transform: scale(100%);
  background-color: #577dbe;
}


.gallery{
  display: grid;
  position: absolute;
  /* top: 220px; */
  height:max-content;
  width: 96vw;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2vw;
}


.scrollBtn{
  position:fixed;
  bottom: 2vw;
  right: 7.5vw;
  border: none;
  height: 4.5vw;
  width: 4.5vw;
  background-color: #2f49753a;
  color: #E6E9DE;
  border-radius: 120px;
  cursor: pointer;
  transition: 0.2s;
}

.scrollBtn:hover{
  background-color: #2f497585;

}
.scrollBtn:active{
  background-color: #2f4975;
}

.scrollBtn>h2{
  font-size: 1.7vw;
  text-align: center;
  width:100%;
}

.invisible{
  visibility: hidden;
}

