@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

body, html{
  background-color: #E6E9DE;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  scroll-behavior: smooth;
}

.container{
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  /* align-items: center; */
  justify-content: center;
}

.lblTop{
  position: fixed;
  top: -0.7vw;
  left:3vw;
  font-size: 3.4vw;
  color: #1B3363;
  z-index: 2;
}

.generateBtn{
  position:fixed;
  bottom: 40px;
  right: 0;
  border: none;
  height: 5vw;
  width: 6vw;
  background-color: #1D2E4C;
  color: #E6E9DE;
  border-radius: 20px 0px 0px 20px;
  cursor: pointer;
  transition: 0.05s;
}

.generateBtn>h2{
  font-size: 1.6vw;
  text-align: center;
  width:100%;
}
.generateBtn>h2>i{
  font-size: 2.4vw;

}

.generateBtn:hover{
  width: 7vw;
  background-color: #2f4975;
  transition: 0.05s;
}

.generateBtn:active{
  width: 8vw;
  background-color: #577dbe;
}


.gallery{
  display: grid;
  position: absolute;
  /* top: 220px; */
  height:max-content;
  width: 96vw;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2vw;
  scroll-snap-type:mandatory;
}

.card{
  display: grid;
  height: 30vw;
  width: 30vw;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 0px 100px 0px #00000025;
  object-fit: none;
  position: relative;
  margin-top:calc((100vh - 30vw)/2);
  margin-bottom: calc((100vh - 30vw)/2);
}

/* .card{
  display: grid;
  grid-template-columns: 1fr 40%;
  grid-template-rows: 15% 1fr 15%;
  border-radius: 20px;
  width: 120%;
  background-color: white;
  box-shadow: 0px 0px 100px 0px #00000025;
  object-fit: none;
} */

.card:hover{
  transform: scale(102%);

}


.scrollBtn{
  position:fixed;
  top: 2vw;
  right: 2vw;
  border: none;
  height: 4.5vw;
  width: 4.5vw;
  background-color: #2f49753a;
  color: #E6E9DE;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.scrollBtn:hover{
  background-color: #2f497585;

}
.scrollBtn:active{
  background-color: #2f4975;
}

.scrollBtn>h2{
  font-size: 1.7vw;
  text-align: center;
  width:100%;
}

.invisible{
  visibility: hidden;
}

