
h4{
  display: flex;
  position: absolute;
  bottom:0;
  background-color: rgb(48, 63, 92);
  width:60px;
  padding: 5px;
  padding-left: 15px;
  border-bottom-left-radius: 16px;
  border-top-right-radius: 20px;
  color: white;
  margin: auto;
  bottom: 3px;
  z-index: 2;
  transition: 0.3s;
}

h4::after {  
  position: absolute;
  left: 41.5%;
  content: "Buy Now";
  opacity: 0;
}

h4:hover::after {
  opacity: 1;
  transition: 1.4s;
  color: #000000;
}

h4:hover{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 16px;
  width:100%;
  transition: 0.8s;
  background-color: rgb(255, 174, 53);
}



html {
    scroll-behavior:smooth;
    background-color: rgb(255, 255, 255);
   
  }
  
  
  body {
  margin : 0%;
       max-width: 100%;
   /* overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: scroll;

  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  
  


  .banner{
    display: flex;
    align-items: center;
    height: 240px;
    border-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  
  iframe{
    border-radius: 20px;
    background-color: rgb(48, 63, 92);
  }

  

  .banner>h1{
    position: absolute ;
    color: white;
    width: 98%;
    height: 225px;
    text-align: center;
    font-size: 45px;
    padding: 86.8px;
    /*backdrop-filter: blur(4px);*/
    backdrop-filter: brightness(60%);
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(48, 63, 92);
  }

  }
  
  nav>ul {
    position: absolute;
    top: 0;
    transition: 0.6s;
    list-style-type: none;
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: 20;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #e7e7e7;
    background-color: white;
    opacity: 92%;
  }
  
  
  nav>ul:hover {
    transition: 0.6s;
    opacity: 100%;
  }
  
  nav>ul>li {
  
    float: left;
  }
  
  nav>ul>li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav>ul>li a:hover:not(.active) {
    background-color: #ddd;
  }
  
  nav>ul>li a.active {
    color: white;
    background-color: rgb(48, 63, 92);
  }
  
  .top{
    padding-top: 62px;
    padding-bottom: 32px;
    
  }
  
  .middle{
      padding: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  
  padding-left:2%;
  padding-right:2%;
  max-width: 100%;
  gap : 28px;

  justify-content: center;
  margin-top: 60px;
  
  }
  
  .gallery-item-wrapper {
  position : relative;
  
  }
  
  
  .gallery-img-background {
  
  filter : brightness(90%);
  filter : saturate(90%);
  border-radius : 16px;
  background-size : cover;
  background-position : center;
  background-repeat : no-repeat;
  
  }
  

  
  
  .middle img{
    height : 290px;
    width :100%;

  box-shadow: -5px 10px 42px -16px rgb(0, 0, 0);
  border-style: solid;
  border-radius: 16px;
  border-color: transparent;
  image-rendering: pixelated;
  
  }
  
  .middle img:hover {
    transition : 0.2s;
    filter : brightness(79%);
     
  }

  
  @media only screen and (max-width: 1129px) {
              .middle {
              grid-template-columns : 1fr 1fr;
              }
  
            }
            @media only screen and (max-width: 626px) {
                        .middle {
                        grid-template-columns : 1fr;
                        }
                        .banner>h1{
                          font-size: 30px !important;
                        }
                      }
  


  .Title {
  font-family: Raleway;
  font-size: 22px;
  text-align: center;
  color: #ffffff;
  border-bottom:solid;
  border-color: #ffffff00;
  padding: 14px;
  background-color: rgb(48, 63, 92);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 40px;

  
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: bolder;
  }
  
  @import url(https://fonts.googleapis.com/css?family=Raleway);
  .img-text-wrapper {
  
  text-align : center;
  padding: 18px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: bold;
  color: #777;
  }

  .img-text-wrapper:hover {
  
    transition: 1.2;
    color: #000000;
    transform: scale(102%);
    }
    

    .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links a {
  color: #a0a0a0;
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #ffffff;
}

.bottom{
  margin-bottom: 30px;
  margin-top: 30px;
}
  
  .footer {
    position: absolute;
    width: 100vw;
    bottom: 0;
    padding: 18px;
    background-color: #000000;
    color: #ddd;
    text-align: center;
  }
  