
hr{
    width: 250px;
    height: 4px;
    background-color: rgb(107, 107, 107);
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    margin-top: 200px;
    justify-content: center;
  
}

.gallery-item {
    width: 300px;
    height: 550px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-radius: 16px;
    margin: 10px;
    font-size: 40px;
}

.gallery-item:hover {
    width: 500px;
    height: 550px;
    background-color: antiquewhite;

}

.gallery-item-label{
    font-size: 40px;
    font-weight: bold;
}

.label-conttainer{
padding: 20px;
}