button{
    border-style: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    
}

button:hover{
    background-color: rgb(107, 107, 107);
    transform: scale(108%);
}

.TIC{
    width:40px;
    height:40px;
    content: "";
    color: #ffffff; 
    animation: fadeIn3 1s;  
}

.TAC{
    width:40px;
    height:40px;
    content: "";
    background-color: rgb(122, 122, 122);
    color: #000000;
    animation: fadeIn2 2s;
}

.TAC:hover{
    background-color: rgb(243, 243, 243);
    color: #385300;
    border-radius: 10px;

}

.TIC:hover{
    background-color: rgb(122, 122, 122);
    color: #fcfff7;
    border-radius: 10px;


}

#Refresh{
    position: absolute;
    background-color: #9FEF00;
    bottom: 10px;
    right: 10px;
    min-width: 100px;
    font-size: 14px;
}

#sizeRange{
    position: absolute;
    bottom: 15px;
    left: 10px;
    height: 30px;
}

  #sizeRange{
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    background: #696969;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    border-radius: 20px;
  }

  #sizeRange:hover {
    opacity: 1;
    transform: scale(104%);
  }
  
  #sizeRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-color: transparent;
    width: 30px;
    height: 30px;
    background: #9FEF00;
    cursor: pointer;
    border-radius: 10px;
  }
  

  #sizeRange::-moz-range-thumb {
    border-color: transparent;
    width: 30px;
    height: 30px;
    background: #9FEF00;
    cursor: pointer;
    border-radius: 10px;
  }




#Refresh:hover{
    background-color: rgb(128, 192, 1);
    cursor: pointer;

}

#Refresh:active{
    background-color: #d6ff83;
}

#Container{
    display: flex;
    height: 98vh;
    justify-content: center;
    align-items: center;
    
}


#consoleContainer{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    animation: growOut 0.2s;
    
}


#pageConsole {
    width: 80%;
    height: 80%;
    background-color: #141D2B;
    color: #93dd00;
    font-family: monospace;
    padding: 10px;
    overflow: auto;
    border-radius: 6px;
    font-size: 80px;
    text-align: center;
    min-width: 60%;
    min-height: 60%;
    transition: 0.2s;
    animation: flyIn 0.6s;
}




#pageConsole:hover{color:rgb(187, 255, 0);
transition: 0.2s;}


#controlPane{
    position: relative;
    width:300px;
    height:400px;
    margin-top: -300px;
    margin-left:-340px;
    background-color: #11131891;
    border-style: solid;
    border-color: #0000007a;
    border-radius: 20px;
    border-width: 2px;
    box-shadow: 5px 5px 15px #00000081;
    animation: fadeIn 2s;
}

#boardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* #board{
    display: grid;
    height: 200px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    grid-template-rows: 1fr 1fr 1fr;
} */


#turnLabel{
    position: absolute;
    top:20px;
    width: 100%;
    text-align: center;
    color: aliceblue;
    font-size: larger;
    animation: fadeIn 1s;
}

#turnLabel:hover{
    content: "edit";
    transform: scale(106%);
}

@keyframes fadeIn {
    0% { opacity: 0; }
    10% { opacity: 0; }
    30% { opacity: .7; }
    100% { opacity: 1; }
  }

  @keyframes fadeIn2 {
    0% { opacity: 0; }
    0% { background-color: rgb(122, 122, 122); }
    10% { background-color: #fcfff7; }
    15% { background-color: rgb(122, 122, 122); }
    30% { opacity: .7; }
    100% { opacity: 1; }
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    30% { opacity: .7; }
    100% { opacity: 1; }
  }

  @keyframes flyIn {
    0% { font-size: 0px;}
    100% { font-size: 80px;}
  }

  @keyframes growOut {
    0% { height: 0%; }
    100% {  height: 100%;}
  }


