body,h5,button {
    font-family: "Overlock", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7rem;
}

h1, h2, h3 {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.out > div > div {
  box-shadow: 2px 2px 2px 0 gray, inset 5px 5px white, inset -5px -5px 2px 1px rgb(235, 207, 145), -1px -1px 2px 1px gray;
  min-height: 7rem;
}

#q084  .seconds > div {
  min-width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

#q084  .chamshir > div {
  min-width: 15rem;
  padding: 0 1rem;
}

.heb {
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  direction: rtl;
}

.heb-bold {
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.btn {
    font-size: 2rem;
    padding: 0.7rem;
    margin: 0.5rem;
    box-shadow: 2px 2px 2px 0 gray, inset 5px 5px white, inset -5px -5px 2px 1px rgb(235, 207, 145), -1px -1px 2px 1px gray;
    cursor: pointer;
    border: none;
    transition: all 0.3s;
}

.btn:hover, .btn:active {
    transform: scale(1.1)
}

.btn:active {
    box-shadow: -2px -2px 2px 0 gray, inset -5px -5px white, inset 5px 5px 2px 1px rgb(235, 207, 145), 1px 1px 2px 1px gray;
}

.red {
    background-color: rgb(173, 4, 4);
    color: white;
  }
  
  .red:active {
    background-color: white;
    color: rgb(173, 4, 4);
  }
  .blue {
    background-color: rgb(3, 3, 155);
    color: cornflowerblue;
  }
  
  .blue:active {
    background-color: cornflowerblue;
    color: rgb(3, 3, 155);
  }
  .green {
    background-color: rgb(1, 88, 1);
    color: rgb(245, 243, 142);
  }
  
  .green:active {
    background-color: rgb(245, 243, 142);
    color: rgb(1, 88, 1);
  }
  .orange {
    background-color: orangered;
    color: rgb(245, 243, 142);
  }
  
  .orange:active {
    background-color: rgb(245, 243, 142);
    color: orangered;
  }

  .monospace {
    font-family: monospace;
  }

  .times-new-roman {
    font-family: 'Times New Roman', Times, serif;
  }