@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body{
    display: flex;
    width: 100dvw;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#container{
    display: flex;
    width: 600px;
    height: 600px;
    background-color: #26304D;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-color: #161d3054;

}

#innerContainer{
    display: flex;
    /* display: none; */

    position: relative;
    width: inherit;
    height: inherit;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    
}

#menuLbl{
    color: #ABB0DB;
    font-size: 50px;
    margin-bottom:60px;
    margin-top:50px;
}

.menuButton{
    font-size: 20px;
    color: aliceblue;
    width:350px;
    height: 55px;
    border-radius: 50px;
    margin: 50px;
    border-color: transparent;
    cursor: pointer;
}

.menuButton:hover{
transform: scaleX(104%);
border-color: #ABB0DB;

}

#instructions{
    position: absolute;
    background-color: #161D30;
    border-style: solid;
    border-radius: 20px;
    width: 55px;
    height: 55px;
    top: 15px;
    left: 10px;
    cursor: pointer;
    font-size: xx-large;
    color: white;
}

#instructions:hover{
    transform: scale(104%);
    filter: brightness(110%);
    color: rgb(255, 240, 223);
}

#instructionsContainer{
    display: none; 
    position: relative;
    justify-content: center;
    padding: 30px;
    font-size: larger;
    line-height: 40px;
    align-items: center;
    color: aliceblue;
    height: inherit;
}

#instructionsClose{
    position: absolute;
    background-color: #161D30;
    border-style: solid;
    border-radius: 20px;
    width: 55px;
    height: 55px;
    top: 15px;
    left: 10px;
    cursor: pointer;
    font-size: xx-large;
    color: white;
}

#instructionsClose:hover{
    transform: scale(104%);
    filter: brightness(110%);
    color: rgb(255, 240, 223);
}

#instructionsClose{
    position: absolute;
    background-color: #161D30;
    border-style: solid;
    border-radius: 20px;
    width: 55px;
    height: 55px;
    top: 15px;
    left: 10px;
    cursor: pointer;
    font-size: xx-large;
    color: white;
}

#MakeItGuessContainerClose{
    position: absolute;
    background-color: #161D30;
    border-style: solid;
    border-radius: 20px;
    width: 55px;
    height: 55px;
    top: 15px;
    left: 10px;
    cursor: pointer;
    font-size: xx-large;
    color: white;
}

#MakeItGuessContainer{
    display: none; 
    position: relative;
    width: inherit;
    height: inherit;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

#ComputerOut{
    font-size: 50px;
    color: #fff;
    margin-top: 10px;
    width: 220px;
    height: 200px;
    border-radius: 12px;
    background-color: #3E528A;
    text-align: center;
}

#buttonContainer{
    margin-top: 30px;
    display: grid;
    height: 300px;
    width: inherit;
    grid-template-columns: 300px 300px;
    grid-template-rows: 100px 100px;
    justify-items: center;
    /* border-style: solid; */
}

#shortButton{
    width:80%;
}

#longButton{
    width:90%;
    grid-column: 1/3;
}

#UserInput{
    font-size: 30px;
    color: #000000;
    margin-top: 40px;
    width: 220px;
    height: 200px;
    border-radius: 12px;
    background-color: #ABB0DB;
    text-align: center;
}

#GuessBtn{
    margin-top: 100px;
}

#GuessContainer{
    display: none; 
    position: relative;
    width: inherit;
    height: inherit;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

#confettiContainer{
    position:absolute;
    z-index:1;
    pointer-events: none; 
  }


  #computerResponse{
    position: absolute;
    top: 130px;
    color:#ABB0DB;
  }
  
  #confettiR{
    position:relative;
    right: 75%;
    width: 280px;
  }
  
  #confettiL{
    position:relative;
    left: 75%;
    width: 280px;
  }