<%- include('partials/header.ejs') %>
    <div class="container">
        <% if (message != '') { %>
            <p class="text-center text-danger"><%= message %></p>
        <% } %>
        <form  class="add-fruit-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="fruitName" id="fruit-name" placeholder="Fruit Name" required>
                </div>
                
                <div class="form-group col-md-4">
                    <select class="form-control" name="startMonth" id="start-month" required>
                        <option value="" disabled selected>-- Start Season --</option>
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="August">August</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="December">December</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <select class="form-control" name="endMonth" id="end-month" required>
                        <option value="" disabled selected>-- End Season --</option>
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="August">August</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="December">December</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <select class="form-control" name="fruit" id="fruits">
                        <option selected disabled>-- Choose Color --</option>
                        <% color.forEach((color, index) => { %>
                            <option value="<%= color.id %>"><%= color.color_name %></option>
                        <% }) %>
                    </select>
                </div>
            </div>

               
                
            
            <div class="form-row">
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name="calories" id="calories" placeholder="Calories">
                </div>
                <div class="col-md-12">
                    <label for="fruit-img"><b>Fruit Image</b></label><br>
                    <input type="file" name="image" id="fruit-img" class="" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-right">Add Fruit</button>
        </form>
    </div>
</div>
</div>
</body>
</html>
